// #3 task (animation for bg)
//--------------------------------------

.animation-bg {
  background-color: #5f458c;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  transition: {
    duration: 600ms;
    property: opacity, transform;
  }
  top: 0;
  width: 100%;
  z-index: 0;

  &.open {
    animation: move 600ms linear;
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
    z-index: 5;
  }
}
