// #3 task (animation for bg)
//--------------------------------------

$time: 700ms;

.animation-bg {
  background-color: #5f458c;
  height: 0;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;

  &.open {
    animation: {
      duration: $time;
      name: animationHeight;
      fill-mode: forwards;
    }
  }
}

.page-header {
  z-index: 500;
}

.screen--prizes {
  opacity: 0;
  transition-duration: $time;
  transition-property: opacity;
  transition-delay: $time;
  
  &.screen-prizes-animation {
    background: transparent;
    opacity: 1;
    z-index: 300;
  }
}

@keyframes animationHeight {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}
