// #Module 2 task 2
//--------------------------------------

$time-lines: 800ms;
$lines-length: 6;
$time-letters: 500ms;

$time-form: 500ms;
$time-images: 800ms;
$time-leaf-images-delay: 600ms;

.word-animation {
  span {
    display: inline-block;
    transform: scaleY(0);
    transition-property: transform;
    will-change: transform;
  }

  > span {
    transition-duration: $time-lines;

    > span {
      transition-duration: $time-letters;

      &:nth-child(even) {
        transition-delay: 150ms;
      }

      &:nth-child(odd) {
        transition-delay: 300ms;
      }
    }

    @for $i from 2 through $lines-length {
      $step: $time-lines / $lines-length;

      &:nth-child(#{$i}) {
        transition-delay: $step * $i - $step;
      }
    }
  }

  @include root-active-screen {
    span {
      transform: scaleY(1);
    }
  }
}

.text-space {
  margin: 0 5px;
}

//-------------------------------------- Result images animation

.result__image__block {
  height: 240px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  transition-duration: $time-images;
  transition-property: transform;
  transition-timing-function: easy-in;
  width: 240px;
  z-index: 200;

  .image-prize--flamingo {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity;
  }

  .image-prize--suitcase {
    transform: scale(0.1);
    transition-duration: 500ms;
    transition-property: transform;
  }

  @include root-result-screen() {
    transform: translate(-50%, -50%);

    .image-prize--flamingo {
      opacity: 1;
    }

    .image-prize--suitcase {
      transform: scale(1);
    }
  }
}

.image-prize {
  position: absolute;

  &--flamingo {
    top: 60px;
    height: 200px !important;
    left: -30px;
    width: 180px !important;
    z-index: 100;
  }

  &--suitcase {
    height: 240px !important;
    position: absolute;
    right: 0;
    top: 30px;
    width: 240px !important;
  }

  &--leaf-blue-r {
    height: 200px !important;
    left: calc(50% + 110px);
    opacity: 0;
    top: 50%;
    width: 213px !important;

    @include root-result-screen() {
      animation: {
        duration: $time-images;
        name: leaf;
        timing-function: cubic-bezier(0.59, -0.11, 0.64, 1.17);
        delay: $time-leaf-images-delay;
        fill-mode: forwards;
      }
    }
  }

  &--leaf-blue-l {
    height: 200px !important;
    left: calc(50% - 100px);
    opacity: 0;
    top: calc(50% + 100px);
    width: 213px !important;

    @include root-result-screen() {
      animation: {
        duration: $time-images;
        name: leaf;
        timing-function: cubic-bezier(0.59, -0.11, 0.64, 1.17);
        delay: $time-leaf-images-delay;
        fill-mode: forwards;
      }
    }
  }

  &--leaf-green {
    height: 100px !important;
    left: calc(50% + 120px);
    opacity: 0;
    top: calc(50% + 70px);
    width: 200px !important;

    @include root-result-screen() {
      animation: {
        duration: $time-images;
        name: leaf;
        timing-function: cubic-bezier(0.59, -0.11, 0.64, 1.17);
        delay: $time-leaf-images-delay + 100ms;
        fill-mode: forwards;
      }
    }
  }
}

@keyframes leaf {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 10px));
  }

  30% {
    opacity: 1;
    transform: translate(-50%, calc(-50% + 20px));
  }

  70% {
    opacity: 1;
    transform: translate(-50%, calc(-50% - 10px));
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

//-------------------------------------- Result form animation

.result--prize .result__form {
  .form--result {
    justify-content: flex-end;
  }

  .form__button {
    flex-grow: 0;
    font-size: 2.4rem;
    opacity: 0;
    transition-duration: $time-form;
    transition-property: opacity;
    width: auto;

    svg {
      display: none;
    }

    &__text {
      opacity: 0;
      transition-duration: $time-form;
      transition-property: opacity;
      transition-delay: 200ms;
    }

    @include root-result-screen() {
      opacity: 1;

      &__text {
        opacity: 1;
      }
    }
  }

  .form__field {
    position: absolute;
    right: 165px;
    transition-duration: $time-form;
    transition-property: width;
    transition-delay: 200ms;
    width: 0 !important;

    @include root-result-screen() {
      width: calc(100% - 31rem) !important;
    }
  }
}
